body{
    background-color: antiquewhite;
    text-align: center;

}

#heading{
    font-size: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: solid;
    padding: auto;
}

#para{
    font-size: 50px;
    text-align: center;
}

